* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  height: 100px;
  background-color: #add8e6;
  display: flex;
}
.container {
  width: 1180px;
  margin: auto;
  display: flex;
}

.flex {
  display: flex;
}

.header-section {
  width: 80%;
  justify-content: space-between;
  align-items: center;
  background-color: #daa521;
  border: 1px dashed black;
  margin: auto;
}

.header-section * {
  padding: 5px;
}

.list {
  list-style: none;
  display: flex;
}

.blue-section {
  background-color: #00008b;
  height: 300px;
}

.sub-header {
  width: 40%;
  height: 250px;
  border: 1px dashed black;
  background-color: #ee81ee;
}

.bg-white {
  height: 400px;
}
.blue-box {
  width: 50%;
  height: 300px;
  border: 1px dashed black;
  background-color: #1d90ff;
}
.pink-box {
  width: 30%;
  height: 300px;
  border: 1px dashed black;
  background-color: #ffc1cb;
}
.container-center {
  justify-content: center;
}
.bg-grey-sm {
  height: 400px;
  background-color: #d3d3d3;
}
.bg-grey-lg {
  height: 800px;
  background-color: #d3d3d3;
}

.green-box {
  width: 80%;
  height: 700px;
  border: 1px dashed black;
  background-color: #238b21;
}

.bg-black {
  height: 500px;
  background-color: #23272a;
}

.adv {
  height: 400px;
  width: 20%;
  background-color: #f08080;
  border: 1px dashed black;
}

.info-1 {
  height: 400px;
  width: 15%;
  background-color: #21b2aa;
  border: 1px dashed white;
}

.info-2 {
  height: 400px;
  width: 15%;
  background-color: #21b2aa;
  border: 1px dashed white;
}

.info-3 {
  height: 400px;
  width: 15%;
  background-color: #21b2aa;
  border: 1px dashed white;
}

.info-4 {
  height: 400px;
  width: 15%;
  background-color: #21b2aa;
  border: 1px dashed white;
}
main {
  border-bottom: 1px solid #bdbebf;
}

.footer-bg {
  height: 100px;
  background-color: #23272a;
}

.footer-sec {
  width: 80%;
  height: 50px;
  background-color: #7fffd4;
  justify-content: space-between;
  align-items: center;
}
.footer-sec div {
  border: 1px dashed black;
  background-color: #ffb6c2;
}
